!!! 5
html
	head
		meta(charset = 'utf-8')
		meta('http-equiv' = 'X-UA-Compatible', content = 'IE=edge,chrome=1')
		title Taborlin
		meta(name="viewport", content="user-scalable=no,initial-scale = 1.0,maximum-scale = 1.0")
		- if(project.debug)
			link(rel = 'stylesheet', type = 'text/css', href = document.relativeSource)
		- else
			style.
				!{document.minified}
		link(rel = 'stylesheet', type = 'text/css', href = 'css/main.css')
		link(rel = 'stylesheet', type = 'text/css', href = 'css/brackets.css')
		//- link(rel = 'stylesheet', type = 'text/css', href = 'css/topcoat-select.css')
		link(rel = 'stylesheet', type = 'text/css', href = 'css/overlay.css')
		link(rel = 'stylesheet', type = 'text/css', href = 'css/overlay_select.css')
		link(rel = 'stylesheet', type = 'text/css', href = 'css/overlay_select_border.css')
		script(type="text/javascript").
		//if lt IE 9
			script(src = '//html5shiv.googlecode.com/svn/trunk/html5.js')
		script(src = 'js/snap.svg-min.js')
		script(src="js/modernizr.custom.js")
		script(src = 'js/main.js')
		script(src = 'js/rainbow-custom.min.js')
		
	body(class="taborlin")
		#container
				header(class="taborlin")
					.main-header(class="taborlin")
							h1: a(href="https://github.com/Taborlin") Taborlin
							p Styleguide generator
						button#trigger-overlay.topcoat-icon-button--large--quiet(type="button")
							span.topcoat-icon--large.topcoat-icon--menu-stack
				main
					#content.max-width
						- each component in document.components
							article(id=component.slug)
								header
									h2=component.name
								- if(component.iframe)
									iframe.componentframe(src=component.filename)
								- else
									section.component!=component.markup
								- if(component.examples)
									section.examples
										h4 Examples
										ul
											- each example_url, example_text in component.examples
												li: a(href = example_url)!= example_text
								footer
								div.showcode
										a(href="#") Show code snippets
									section.code
										div
											h3 HTML
											pre.html
												code(data-language="html")=component.markup
					aside#site.overlay(class="taborlin", data-path-to= 'm 0,0 1439.999975,0 0,805.99999 -1439.999975,0 z')
						svg(xmlns="http://www.w3.org/2000/svg", width="100%", height="100%", viewBox="0 0 1440 806", preserveAspectRatio="none")
							path.overlay__path(d="m 0,0 1439.999975,0 0,805.99999 0,-805.99999 z")
						button.overlay__close(type="button") Close
						#sideNav.combo
							#select.overlay__select.overlay_select_border(tabindex = "0")
								-each item in nav
									- if(item.url == document.url)
										span.cs-placeholder=item.title
								.cs-options
									ul
										- each item in nav
											- if(item.url == document.url)
												li.overlay_selected(data-option, data-value=item.url, selected="selected")
													a(href=item.url)
														span=item.title
											- else
												li(data-option, data-value=item.url)
													a(href=item.url)
														span=item.title
						nav#pageNav.overlay__nav
							ul.overlay__nav__ul
								- each component in document.components
									li: a(href='#'+component.slug)=component.name
				footer
					#main-footer
						script(src="js/classie.js")
						script(src='js/demo9.js')
						script
							//- window.addEventListener("resize", function(){var select = document.getElementById('select'); var cl =select.classList; cl.remove('cs-active');});
							//- window.addEventListener("resize", function(){var select = document.getElementById('select'); var selectClass = select.classList; var aside = document.getElementById('site'); var cl = aside.classList; if(window.innerWidth < 650 && !(cl.contains('open'))){selectClass.remove('cs-active');}});
						//- script(src='js/selectFx.js')
						//- script(type="text/javascript").
							//- (function() {[].slice.call( document.querySelectorAll( 'select.overlay__select' ) ).forEach( function(el) {	new SelectFx(el);} );})();
							//- console.log(window.innerWidth);
							//window.addEventListener("resize", function(){var aside = document.getElementById('site'); aside.className ="overlay overlay-cornershape"; if(window.innerWidth >= 650){aside.className = "";}});
